#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

#floating-panel {
margin: 0px;
}

h1 {
  text-align: center;
}

.favCityButton {
  display: block;
}

.formInput {
  width: 300px;
}

/* .venueButton {
  display: block;
} */