body {
  font-family: 'Merriweather', serif;
}

.header {
  background-color: rgb(206, 153, 54);
  height: 80px;
}

#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

#floating-panel {
margin: 0px;
}

h1 {
  text-align: center;
  font-family: 'Yeseva One', cursive;
}

.favCityButton {
  /* display: block; */
  border: none;
  background-color: transparent;
}

.formInput {
  width: 300px;
}

.favVenue {
  font-size: 10px;
  color: blue;
}

.deleteCity {
  font-size: 10px;
}


/* .venueButton {
  display: block;
} */